.contenedor-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: gray;
    padding: 0 20px 0 40px;
}

.contenedor-sumate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 20px 30px 40px;

    background-color: beige;
    height: 40vh;

    .contenedor-opciones-botones{
        padding: 30px 0px 30px 0px;
        display: flex;
        flex-direction: column;

        div{
            padding: 20px 0px 0 0px;
            display: flex;
        }
        h3{
            padding: 0px 20px 0 0px;
        }
    }
}


.contenedor-colaborar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: burlywood;
}

.contenedor-contacto{
    padding: 30px 0px 0 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .formulario{
        padding: 20px 0 80px 0;
        width: 30%;
        input{
            width: 100%;
        }
    }
}



