//TIPOGRAFIA
//montserrat 700
.fontMontserrat{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

//motserrat 400
.fontMontserrat400{
     font-family: 'Montserrat', sans-serif;
     font-weight: 400;
}


 //inter 400

.fontInter400{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    
    
}